.bookmark {
  position: absolute;
  top: -12px;
  right: 10px;
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
}

.bookmark__icon {
  width: 48px;
  height: 48px;
}

.bookmark__icon--active {
  color: var(--red-500);
  fill: currentColor;
}
