.card {
  padding: 2rem 1rem;
  background-color: var(--gray-500);
  position: relative;
  border-radius: 8px;
}

.card__question {
  margin-bottom: 1.5rem;
}

.card__button {
  background-color: transparent;
  display: block;
  border: none;
  color: inherit;
  font-size: 1rem;
  font-weight: bold;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 999px;
  cursor: pointer;
}

.card__button:hover {
  background-color: var(--gray-900);
}

.card__answer {
  display: none;
  text-align: center;
  background-color: var(--gray-100);
  margin-inline: -1rem;
  padding-block: 1rem;
  color: var(--gray-900);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card__answer--visible {
  display: block;
}
