.nav {
  display: flex;
}

.nav__item {
  flex-grow: 1;
}

.nav__link {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1rem 2rem;
  color: inherit;
}

.nav__link--active {
  background-color: #ddd;
  color: #334;
}
