.profile {
  padding: 2rem 1rem;
  display: grid;
  align-content: start;
  gap: 2rem;
}

.profile__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__image {
  border-radius: 999px;
}

.profile__bio {
  line-height: 1.7;
}
