* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --gray-900: #d1d1de;
  --gray-500: rgb(255, 255, 255);
  --gray-100: #404040;
  --red-500: #e23b62;
}

.dark {
  --gray-900: #334;
  --gray-500: #445;
  --gray-100: #ddd;
  --red-500: #e23b62;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-100);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}
